<div class="container">
<div class="row">
<div class='col-md-4' *ngFor="let post of news">

<img class="card-img-top imgi" src="{{post.urlToImage}}" alt="no image">
  
 <div class="card-body">

 <h4 class="card-title">
    <a href="{{post.url}}"  target="blank">{{post.title}}</a> </h4>

   <p class="card-text">

   {{post.description}}<br>


    </p>
              <p class="card-footer text-muted">{{post.publishedAt}}</p>
              <button (click)="addFav(post)" type="button" class="btn btn-outline-info" >Add to Favourites</button>

              
            </div>
          </div>
        </div>
      </div>
